[submodule "spectra-admin"]
	path = spectra-admin
	url = git@github.com:yangxj96/spectra-admin.git
	branch = master
[submodule "spectra-ui"]
	path = spectra-ui
	url = git@github.com:yangxj96/spectra-ui.git
	branch = master
[submodule "spectra-app"]
	path = spectra-app
	url = git@github.com:yangxj96/spectra-app.git
	branch = master
[submodule "logicflow-flowable"]
	path = logicflow-flowable
	url = git@github.com:yangxj96/logicflow-flowable.git
	branch = master
